extends layout

block headContent
    link(href="/styles/index.css" rel="stylesheet")
    script(src='/dynamic/create-form.js' type='module')

block content
    form(class='form-creation')
        label Title
        input(type='text' id='title' name='title' placeholder='Enter the title')
        label Content
        textarea(name='content' id='content' placeholder='Enter the content')
        button(class='submit-button') Submit