extends layout

block headContent
    link(href="/styles/index.css" rel="stylesheet")
    script(src='/dynamic/create-form.js' type='module')

block content
    form(class='form-creation' method="POST")
        label(for='title') Title
        input(type='text' id='title' name='title' placeholder='Enter the title')
        label(for='content') Content
        textarea(id='content' name='content' placeholder='Enter the content')
        button(type='submit' class='submit-button') Submit
